In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests # Import the requests library.

# Import the weather API key.
from config import weather_api_key
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the datetime module from the datetime library.
from datetime import datetime

WeatherPy_DF = pd.read_csv('weather_data/WeatherPy_database.csv')

WeatherPy_DF

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Eureka,US,40.80,-124.16,59.00,84,16,5.01,few clouds,0.0,0.0
1,1,Upernavik,GL,72.79,-56.15,42.13,70,93,9.78,overcast clouds,0.0,0.0
2,2,Hasaki,JP,35.73,140.83,84.20,74,75,20.80,broken clouds,0.0,0.0
3,3,Ushuaia,AR,-54.80,-68.30,35.60,74,20,12.75,few clouds,0.0,0.0
4,4,Khatanga,RU,71.97,102.50,50.81,65,93,15.37,overcast clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
547,547,Mamontovo,RU,52.71,81.62,67.01,79,91,6.46,overcast clouds,0.0,0.0
548,548,Bilibino,RU,68.05,166.44,61.23,42,95,5.26,overcast clouds,0.0,0.0
549,549,Gacko,BA,43.17,18.54,78.80,47,40,14.99,scattered clouds,0.0,0.0
550,550,Moussoro,TD,13.64,16.49,84.06,51,52,14.47,broken clouds,0.0,0.0
551,551,Morant Bay,JM,17.88,-76.41,86.00,70,20,14.99,few clouds,0.0,0.0

In [9]:
WeatherPy_DF.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input("Do you want it to be raining? (yes/no) ")

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 88
Do you want it to be raining? (yes/no) no
Do you want it to be raining? (yes/no) no

In [22]:
# Filter to find raining or snowing in cities
for index, row in WeatherPy_DF.iterrows():
    if raining == "no":
        rain = WeatherPy_DF['Rain (inches)'] == 0
    else:
        rain = WeatherPy_DF['Rain (inches)'] != 0
    if snowing == "no":
        snow = WeatherPy_DF['Snow (inches)'] == 0
    else:
        snow = WeatherPy_DF['Snow (inches)'] != 0
#if raining = 'yes' or 'y':
    # boolean expression for rain > 0 then = true
    #else

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = WeatherPy_DF.loc[(WeatherPy_DF['Max Temp'] <= max_temp) &
                                       (WeatherPy_DF['Max Temp'] >= min_temp) &
                                      (WeatherPy_DF['Rain (inches)'] != rain) & 
                                      (WeatherPy_DF['Snow (inches)'] != snow)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
2,2,Hasaki,JP,35.73,140.83,84.20,74,75,20.80,broken clouds,0.0,0.0
7,7,Atuona,PF,-9.80,-139.03,79.97,71,4,11.90,clear sky,0.0,0.0
15,15,Bilma,NE,18.69,12.92,84.94,14,53,8.68,broken clouds,0.0,0.0
17,17,Hilo,US,19.73,-155.09,80.60,65,90,8.05,overcast clouds,0.0,0.0
20,20,Karratha,AU,-20.74,116.85,78.73,18,0,18.03,clear sky,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
545,545,Katherine,AU,-14.47,132.27,80.60,15,10,16.11,clear sky,0.0,0.0
546,546,Tall Kayf,TR,37.08,41.07,84.20,25,0,6.93,clear sky,0.0,0.0
549,549,Gacko,BA,43.17,18.54,78.80,47,40,14.99,scattered clouds,0.0,0.0
550,550,Moussoro,TD,13.64,16.49,84.06,51,52,14.47,broken clouds,0.0,0.0
551,551,Morant Bay,JM,17.88,-76.41,86.00,70,20,14.99,few clouds,0.0,0.0

In [ ]:
# try - except if no snow or rain matches found

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hasaki,JP,84.20,broken clouds,35.73,140.83,
7,Atuona,PF,79.97,clear sky,-9.80,-139.03,
15,Bilma,NE,84.94,broken clouds,18.69,12.92,
17,Hilo,US,80.60,overcast clouds,19.73,-155.09,
20,Karratha,AU,78.73,clear sky,-20.74,116.85,
...,...,...,...,...,...,...,...
545,Katherine,AU,80.60,clear sky,-14.47,132.27,
546,Tall Kayf,TR,84.20,clear sky,37.08,41.07,
549,Gacko,BA,78.80,scattered clouds,43.17,18.54,
550,Moussoro,TD,84.06,broken clouds,13.64,16.49,
551,Morant Bay,JM,86.00,few clouds,17.88,-76.41,

In [40]:
import gmaps # use gmaps and the API key to create heatmaps and the locations map
gmaps.configure(api_key=g_key) # Configure gmaps to use your Google API key.
from config import g_key

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hasaki,JP,84.20,broken clouds,35.73,140.83,Inubosaki Kanko Hotel
7,Atuona,PF,79.97,clear sky,-9.80,-139.03,Villa Enata
15,Bilma,NE,84.94,broken clouds,18.69,12.92,Expeditions TÃ©nÃ©re voyages
17,Hilo,US,80.60,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
20,Karratha,AU,78.73,clear sky,-20.74,116.85,ibis Styles Karratha
...,...,...,...,...,...,...,...
545,Katherine,AU,80.60,clear sky,-14.47,132.27,Pine Tree Motel
546,Tall Kayf,TR,84.20,clear sky,37.08,41.07,
549,Gacko,BA,78.80,scattered clouds,43.17,18.54,Hotel Metohija
550,Moussoro,TD,84.06,broken clouds,13.64,16.49,Pharmacie alnadja Moussoro
551,Morant Bay,JM,86.00,few clouds,17.88,-76.41,Whispering Bamboo Cove Resort

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Save and upload the new DataFrame as WeatherPy_vacation.csv
# Create the output file (CSV).
output_data_file = "data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

# Save and upload the new marker layer map as WeatherPy_vacation_map.png
plt.savefig("image/WeatherPy_vacation_map1.png")