In [1]:
# Import the dependencies.
import pandas as pd # use Pandas to read our CSV file and create the locations and measurements from the DataFrame
import gmaps # use gmaps and the API key to create heatmaps and the locations map
import requests # make a request to the Google Places JSON file
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
0,0,Thompson,CA,2020-07-06 22:36:30,82,55.74,-97.86,66.20,75,10.29
1,1,Tuatapere,NZ,2020-07-06 22:36:30,76,-46.13,167.68,46.09,63,8.28
2,2,Albany,US,2020-07-06 22:35:24,47,42.60,-73.97,86.00,9,4.99
3,3,Geraldton,AU,2020-07-06 22:36:31,87,-28.77,114.60,55.40,28,11.41
4,4,East London,ZA,2020-07-06 22:35:09,22,-33.02,27.91,72.16,0,9.55
...,...,...,...,...,...,...,...,...,...,...
569,569,Gat,IL,2020-07-06 22:38:01,83,31.61,34.76,75.99,0,4.00
570,570,Grand Gaube,MU,2020-07-06 22:38:01,93,-20.01,57.66,73.00,70,3.00
571,571,Sinnamary,GF,2020-07-06 22:38:01,86,5.38,-52.95,78.60,1,8.48
572,572,Evensk,RU,2020-07-06 22:38:01,72,61.95,159.23,53.80,66,10.07
573,573,Quilmana,PE,2020-07-06 22:38:02,75,-12.95,-76.38,63.48,65,4.76

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Configure gmap
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.

# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=75, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

What is the minimum temperature you would like for your trip? 77
What is the maximum temperature you would like for your trip? 99

,City_ID,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
2,2,Albany,US,2020-07-06 22:35:24,47,42.60,-73.97,86.00,9,4.99
5,5,Kahului,US,2020-07-06 22:32:09,48,20.89,-156.47,87.80,20,26.40
6,6,Dingle,PH,2020-07-06 22:36:31,83,11.00,122.67,80.46,36,7.36
10,10,Hilo,US,2020-07-06 22:36:32,54,19.73,-155.09,84.20,1,9.17
14,14,Jamestown,US,2020-07-06 22:36:32,51,42.10,-79.24,82.99,75,10.29
...,...,...,...,...,...,...,...,...,...,...
550,550,Road Town,VG,2020-07-06 22:33:56,79,18.42,-64.62,84.99,20,12.75
552,552,Colon,PA,2020-07-06 22:37:05,66,9.36,-79.90,88.00,67,8.01
560,560,Carutapera,BR,2020-07-06 22:38:00,89,-1.20,-46.02,77.05,69,5.64
565,565,Nioro,GM,2020-07-06 22:38:01,78,13.35,-15.75,81.28,100,7.38
571,571,Sinnamary,GF,2020-07-06 22:38:01,86,5.38,-52.95,78.60,1,8.48

In [33]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Humidity      167
Lat           167
Lng           167
Max Temp      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [35]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Humidity      0
Lat           0
Lng           0
Max Temp      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [36]:
preferred_cities_df.notnull().sum()

City_ID       167
City          167
Country       167
Date          167
Humidity      167
Lat           167
Lng           167
Max Temp      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

           City Country  Max Temp    Lat     Lng Hotel Name
2        Albany      US     86.00  42.60  -73.97
5       Kahului      US     87.80  20.89 -156.47
6        Dingle      PH     80.46  11.00  122.67
10         Hilo      US     84.20  19.73 -155.09
14    Jamestown      US     82.99  42.10  -79.24
..          ...     ...       ...    ...     ...        ...
550   Road Town      VG     84.99  18.42  -64.62
552       Colon      PA     88.00   9.36  -79.90
560  Carutapera      BR     77.05  -1.20  -46.02
565       Nioro      GM     81.28  13.35  -15.75
571   Sinnamary      GF     78.60   5.38  -52.95

[167 rows x 6 columns]

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))